#skills {
    color: rgb(143, 141, 141);
}

#skills h1 {
    font-size: 54px;
    color: rgb(66, 66, 66);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#skills h5 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#skills ion-icon {
    color: rgb(75, 75, 75);
}

#skills .skill-name {
    margin-left: -.8em;
}